.volunteer {
  background: linear-gradient(rgb(253,254,255),rgb(217,246,255),rgb(253,254,255),rgb(217,246,255),rgb(253,254,255),rgb(253,254,255),rgb(217,246,255),rgb(253,254,255));
  padding: 40px;
}

.volunteer_top_img {
  width: 100%;
  height: auto;
}

.vol_impact_fake_navigation {
  padding-bottom: 15px;
}

.volunteer_all_summary_div {
  padding: 30px;
  text-align: left;
  line-height: 36px;
}
.volunteer_organizations_background {
  background: linear-gradient(rgb(253,254,255),rgb(217,246,255),rgb(253,254,255));
  padding: 40px;
}

.volunteer_all_summary {
  /* font-family:"Times New Roman", Times, serif; */
  font-size: 180%;
}

.volunteer_part {
  display: flex;
  padding: 60px;
  background-color: rgb(245,250,253);
  border-radius: 10px;
  box-shadow:0 0 5px 3px rgb(224,236,240) inset;
}
/* 
@media only screen and (min-width: 800px) {
    .volunteer_left {
      display: flex;
      width: 30%;
    }
    .volunteer_right {
      float: right;
      margin-left: -40px;
      width: 70%;
    }
  } */
@media only screen and (max-width: 800px) {
  .volunteer_part {
    display: block;
    padding: 40px;
    background-color: rgb(245,250,253);
  }
  .volunteer_left {
    text-align: center;
  }
}
.volunteer_inter_fats {
  background-color: rgb(255,250,250);
  border-radius: 10px;
  box-shadow:0 0 5px 3px rgb(224,236,240) inset;
  padding: 20px 60px 60px 60px;
}

.volunteer_previous_div {
  background-color: rgb(255,250,250);
  border-radius: 10px;
  box-shadow:0 0 5px 3px rgb(224,236,240) inset;
  padding: 20px 60px 60px 60px;
}


.volunteer_organizations_title {
  text-align: center;
  margin: 15px;
  margin-top: -20px;
  font-size: 30px;
}

.volunteer_title {
  margin-left: 20px;
}

.organization_details {
  margin: 20px;
}
.volunteer_vic {
  text-align: center;
  justify-content: center;
  align-items: center;
}
.volunteer_logo_div {
  display: flex;
  text-align:left;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items: center;
}
.volunteer_img_div {
  display: inline-block;
}
.volunteer_img {
  margin: 15px;
  margin-left :60px;
  margin-right: 60px ;
  width: 250px;
  height: auto;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.2),  4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.volunteer_logo {
  width: 300px;
  height: auto;
  box-shadow: 4px 6px 8px 0 rgba(0, 0, 0, 0.2),  4px 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.volunteer_blue {
  padding: 20px 60px 60px 60px;
  background-color: rgb(245,250,253);
  border-radius: 10px;
  box-shadow:0 0 5px 3px rgb(224,236,240) inset;
}
.volunteer_cards {
  display: flex;
  flex-flow: row wrap;
  justify-content:space-around;
  align-items: center;
  width: 100%;
}
.volunteer_one_card {
  text-align: center;
  padding: 20px;
}

/* .volunteer_card_title_div {
    text-align: center;
    background-color: khaki;
    padding: 10px 40px;
    width: 350px;
}
.volunteer_card_title {
    text-align: center;
    font-size: 200%;
    
} */
.volunteer_tage {
  font-size: 100%;
  align-items: center;
  padding: 25px;
}

.volunteer_key_facts {
  padding: 20px;
  margin-top: -20px;
}

.organization_details {
  /* font-family: "Times New Roman"; */
  font-size: 19px;
  line-height: 23px;

}

.volunteer_fun_fact {
  width: 20px;
}

/* 
.volunteer_card_details_div {
    text-align: center;
    background-color:lemonchiffon;
    padding-left: 40px;
    padding-right: 40px;
}
.volunteer_card_details {
    text-align: center;
    font-size: 500%;
    color: crimson;
}
.volunteer_card_details2 {
    text-align: center;
    font-size: 300%;
    color: crimson;
} */

.volunteer_button {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: lightgreen;
  width: 200px;
  padding: 10px;
  margin: auto;
  border-radius: 25px;
}
.volunteer_button_div {
  padding: 20px;
}

.clear_float {
  clear: both;
}


.volunteer_au_vic_opyions {
  margin: 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.volunteer_opyion_text {
  text-align: center;
  font-size: 170%;
}
.volunteer_au_opyions {
  background-color: rgb(255,250,250);
  text-align: center;
  border-style: outset solid outset outset;
  width: 160px;
  height: 35px;
  border-radius: 15px 0px 0px 15px
}
.volunteer_vic_opyions {
  background-color: rgb(255,250,250);
  text-align: center;
  border-style: outset outset outset none;
  width: 160px;
  height: 35px;
  border-radius: 0px 15px 15px 0px
}


@media only screen and (min-width: 800px) {
.previous_event {
    overflow: hidden;
    background-color: rgb(216,228,235);
    border-radius: 100px;
}
}

@media only screen and (max-width: 800px) {
  .previous_event {
    overflow: hidden;
    background-color: rgb(216,228,235);
    border-radius: 50px;
}
}

.volunteer_all_organizations_div {
  overflow: hidden;
}

.previous_list {
    width: 1000%;
    display: flex;
}

.volunteer_all_organizations {
  width: 1000%;
  display: flex;
}

.previous_trans {
  display: flex;
  width: 10%;
  transition: 0.6s;
}

.volunteer_au {
  display: flex;
  width: 10%;
  transition: 0.6s;
}

.volunteer_vic {
  display: flex;
  width: 10%;
  transition: 0.6s;
}

.previous_left {
  width: 5%;
  position: relative
}
.previous_container {
    float: left;
  width: 90%;
  padding-right: 5%;
}
.previous_right {
    float: left;
  width: 5%;
  position: relative
}
.previous_trans_img {
  width: 100%;
  position: absolute;
  top: 50%;
  margin:  -50% 0 0 0;
}

.bar
{
  cursor: pointer;
}

input[name="r"]
{
  visibility: hidden;
  position: absolute;
}

#r1:checked ~.s1
{
  margin-left:0;
}
#r2:checked ~.s1
{
  margin-left: -10%;
}