.impact_enviorment_content{
    height: 1500px;
}
.impact_on_environment_img {
    width: 25+140px;
    height: 140px;
  }
.environment1_img {
    width: 25+140px;
    height: 140px;
  }
  .environment2_img {
    width: 25+140px;
    height: 140px;
  }

  .environment3_img {
    width: 25+140px;
    height: 140px;
  }

  .environment5_img {
    width: 25+140px;
    height: 140px;
  }

  .impact_human_img {
    width: 25+140px;
    height: 140px;
  }


  .impact_animals_1_img {
    width: 25+140px;
    height: 140px;
  }
  .impact_animals_2_img {
    width: 25+140px;
    height: 140px;
  }
  .impact_animals_3_img {
    width: 25+140px;
    height: 140px;
  }