.impact {
  background: #f5f5f5;
  padding: 10px;
}

.impact_article_flex {
  display: flex;
}
/* .impact_article_body p {
  padding-bottom: 5px;
} */

.impact_article_body h4 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.impact_article_body h4::before {
  content: "|";
  color: #ED6D07;
  padding-right: 5px;
}
.impact_article_container {
  background-color: #f5f5f5;
  /* padding: 0 60px; */
  /* line-height: 2; */
  /* padding: 8px; */
}
.impact_links {
  padding-top: 50px;
  padding-left: 40px;
}
.impact_links p {
  padding-top: 5px;
}
.impact_links p a:hover {
  color: #4caf50;
  text-decoration: underline;
}
.impact_article_title {
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}
/* .impact_article_body {
  margin-left: 50px;
  margin-right: 50px;
} */

.impact_img_div {
  padding-top: 10px;
  padding-bottom: 10px;
}
.impact_img {
  width: 100%;
}
.bold {
  font-weight: bold;
}
.impact_src {
  text-align: right;
}

.impact_table {
  padding-top: 20px;
  margin: 20px auto;
  border: 1px solid black;
  width: 80%;
  border-collapse: collapse;
}
.impact_th {
  border: 1px solid black;
  padding: 15px 0px;
  text-align: center;
  background-color: #4caf50;
  color: white;
  font-size: 14px;
}
.impact_td {
  border: 1px solid black;
  padding: 5px;
  text-align: left;
}
.impact_tr:hover {
  background-color: #e0e0e0;
}



.impact_video_div {
  text-align: center;
  padding-bottom: 60px;
}
@media only screen and (min-width: 1300px) {
  .impact_video {
    width:1030px;
     height:580px;
  }
}
@media only screen and (max-width: 1300px) {
  .impact_video {
    width:840px;
     height:473px;
  }
}
@media only screen and (min-width: 960px) {
  .impact_fake_navigation{
    width: 600px;
    padding: 30px 30px 0 30px;
  }
  .impact_body_html {

    display: flex;
  }
  .impact_1 {
    position: sticky;
    align-self: flex-start;
    top: 20px;
    width: 20%;
  }
  .impact_article_title {
    margin-top: 0px;
    margin-bottom: 40px;
    width: 100%;
    text-align: center;
    text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
  }
  .impact_article_left {
    display: flex;
    width: 40%;
    text-align:justify;
  }
  .impact_article_right {
    display: flex;
    float: right;
    width: 60%;
    padding-left: 40px;
    margin-top: -35px;
  }
  .impact-head-figure {
    padding-left: 50px;
    height: 400px;
  }
}
@media only screen and (max-width: 960px) {
  .impact_fake_navigation{
    padding: 30px 30px 0 30px;
  }
  .impact_body_html {
  }
  .impact_1 {
  }
  .w {
    background-color: #f5f5f5;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }
  .impact_img {
    width: 100%;
  }
  .impact_links {
    display: none;
  }
  .impact_video {
    width:750px;
     height:507px;
  }
}

@media only screen and (max-width: 750px) {
  .impact_video {
    width:625px;
     height:423px;
  }
}
@media only screen and (max-width: 600px) {
  .impact_video {
    width:500px;
     height:338px;
  }
}
@media only screen and (max-width: 400px) {
  .impact_video {
    width:250px;
     height:169px;
  }
}

@media screen and (min-width: 960px) {
.impact_menu {
  padding-left: 50px;
  line-height: 1.8;
}
.impact_menu p{
  padding-top: 20px;
}

.impact_details {
  margin-top: 40px;
  display: flex;
  float: right;
  width: 80%;

}
.impact_tree {
  text-align: left;
}
}
@media screen and (max-width: 960px) {
  .impact_menu {
    display: none;
  }
  
  .impact_details {
    margin-top: 40px;
    display: flex;
    float: right;
    width: 100%;
  }
  .impact_tree {
    width: 100%;
    text-align: left;
  }
}
.impact_jump {
  display: block;
  height: 90px; 
  margin-top: -90px; 
  visibility: hidden;
}

.clear_float{
  clear:both;
}

body,html {
  scroll-behavior: smooth;
}


@media screen and (min-width: 640px) {
  .impact_table {
    display: none;
  }
  .impact_article_body {
    padding: 60px 0px;
  }
}
@media screen and (max-width: 640px) {
  .impact_tree {
    display: none;
  }
  .impact_article_body {
    padding: 30px 0px;
  }
}
