h3 {
  margin: 0;
}
h4 {
  margin: 0;
}

.contain1080 {
  width: 100%;
  max-width: 1080px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex: 0 auto;
  flex-direction: column;
}
/* page title part */
#page-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* introduction part */
.map-intro {
  display: flex;
  flex-direction: row;
  height: 250px;
  padding-bottom: 40px;
}
.map-left {
  width: 60%;
}
.map-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.map-right {
  width: 40%;
  height: 250px;
  background-image: url("../assets/impact_classification.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}
.map-division {
  border-top: rbg(255, 255, 255) 1px solid;
  border-bottom: rbg(255, 255, 255) 1px solid;
  height: 3px;
}
/* search area */
.map-search {
  border-bottom: rbg(255, 255, 255) 1px solid;
  display: flex;
}
.search {
  display: flex;
  padding-bottom: 30px;
}
.search h4 {
  padding-right: 10px;
}
.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.search-bar {
  width: 500px;
}
.map-filter {
  display: flex;
  margin-left: auto;
}
.map-filter-dropdown {
  margin-left: 20px;
  width: 200px;
}
/* map display area */
.map-container {
  height: 400px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#map {
  flex: 1;
}

.map-body {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
}
.bin-window {
  height: 170px;
  width: 400px;
}
.bin-window h2 {
  text-align: center;
  margin-bottom: 5px;
}
.bin-info p {
  margin-bottom: 5px;
}
/* .bin-window p {
  padding-top: 5px;
} */
.map-btn {
  min-width: 100px;
}
/* map legend */
.map-index {
  width: 20%;
  margin-left: 30px;
}
.map-index ul li {
  margin-top: 20px;
}
.map-index img {
  width: 50px;
  margin-right: 10px;
}

/* @media screen and (min-width: 800px) {
  .map-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
} */
/* @media screen and (max-width: 800px) {
  .map {
    width: 100% !important;
  }

  .map-container {
    width: 100%;
  }
  .map-index {
    display: none;
  }
  .bin-window {
    width: 120px;
    height: auto;
  }
  .bin-info {
    margin-bottom: 30px;
  }
} */
