h3 {
  margin: 0;
}
h4 {
  margin: 0;
}

.contain1080 {
  width: 100%;
  max-width: 1080px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  flex: 0 auto;
  flex-direction: column;
}
/* page title part */
#page-title {
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
/* introduction part */
.map-intro {
  display: flex;
  flex-direction: row;

  padding-bottom: 40px;
}
.map-left {
  width: 60%;
  padding-right: 20px;
}
.map-title {
  margin-top: 20px;
  margin-bottom: 20px;
}
.map-right {
  width: 40%;
  min-width: 400px;
  height: 250px;
  background-image: url("../assets/impact_classification.jpg");
  background-size: cover;

  background-repeat: no-repeat;
}
.map-division {
  box-shadow: 1px 1px 2px #888888;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  height: 3px;
}
/* search area */
.map-search {
  border-bottom: 1px solid #ccc;
  display: flex;
}
.search {
  display: flex;
  padding-bottom: 20px;
}
.search h4 {
  padding-right: 10px;
}
.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}
.search-bar {
  width: 350px;
}
.map-filter {
  display: flex;
  margin-left: auto;
  padding-bottom: 30px;
}
.map-filter-dropdown {
  margin-left: 20px;
  width: 200px;
}
/* map display area */
.map-container {
  height: 450px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#map {
  flex: 1;
}

.map-body {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: row;
}
.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
}
.bin-window {
  height: 170px;
  width: 400px;
}
.bin-window h2 {
  text-align: center;
  margin-bottom: 5px;
}
.bin-info h4 {
  text-align: center;
  padding: 15px;
}
.bin-info p {
  margin-bottom: 5px;
}
/* .bin-window p {
  padding-top: 5px;
} */
.map-btn {
  left: 0px;
}

/* map legend */
.map-index {
  width: 20%;
  margin-left: 30px;
}
.map-index ul h4 {
  margin: 0 auto;
  text-align: center;
  padding-bottom: 10px;
}
.map-index ul li {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}
.map-index ul li p {
  margin: 0 auto;
}
.map-index ul li p img {
  height: 12px;
  width: 12px;
}
.hashed-text {
  display: none;
}
.map-index ul li:hover > img {
  display: none;
}
.map-index ul li:hover .hashed-text {
  display: block;
  height: 50px;
  text-align: center;

  margin: 0 auto;
  background-color: #ccc;
}
.map-index img {
  width: 50px;
  margin: 0 auto;
}

/* @media screen and (min-width: 800px) {
  .map-btn {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
} */
@media screen and (max-width: 800px) {
  .map-intro {
    padding-left: 20px;
    padding-right: 20px;
    flex-direction: column;
  }
  .map-left {
    width: 100%;
  }
  .map-right {
    width: 100%;
  }
  .map-title {
    padding-left: 20px;
    padding-right: 20px;
  }
  .map-search {
    padding-left: 20px;
    padding-right: 20px;
    display: block;
  }
  .map-body {
    padding-left: 20px;
    padding-right: 20px;
    /* flex-direction: column-reverse; */
    flex-direction: column;
  }
  .map-container {
    width: 100%;
  }
  .map-index {
    width: 100%;
    margin-left: 0;
  }
  .map-index ul {
    display: flex;
    flex-direction: row;
  }
  /* .map-index ul h4 {
    width: 100%;
  }
  .map-index ul li {
    width: 30%;
  }
  .map-index ul li p {
    padding-right: 3px;
  } */
  .map-index ul li:hover > img {
    display: block;
  }
  .map-index ul li:hover .hashed-text {
    display: none;
  }
  .bin-window {
    width: 200px;
  }
  /* .map {
    width: 100% !important;
  }

  .map-container {
    width: 100%;
  }
  .map-index {
    display: none;
  }
  .bin-window {
    width: 120px;
    height: auto;
  }
  .bin-info {
    margin-bottom: 30px;
  } */
}
