.map-main {
  margin: 0 50px;
  padding-bottom: 40px;
}
.map-intro {
  margin: 30px auto;
}
.map-intro h1 {
  margin: 40px auto;
  text-align: center;
  font-weight: 700;
}
.map-body {
  display: flex;
  flex-direction: row;
}

.map-intro p {
  margin: 10px auto;
}
.map-container {
  height: 600px;
  width: 80%;
  display: flex;
  flex-direction: column;
  position: relative;
}
#map {
  flex: 1;
}
.search {
  display: flex;
  width: 100%;
  padding-bottom: 10px;
}
.search h1 {
  padding-right: 10px;
}
.search input {
  padding: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
}

.locate {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  z-index: 10;
}
.locate img {
  width: 50px;
  cursor: pointer;
}
.bin-window {
  height: 100px;
  width: 300px;
}
.btn {
  position: absolute;
  bottom: 5px;
}
.map-index {
  width: 20%;
  margin-left: 30px;
}
.map-index ul li {
  margin-top: 20px;
}
.map-index img {
  width: 50px;
  margin-right: 10px;
}
@media screen and (max-width: 800px) {
  .map {
    width: 100% !important;
  }
  .map-body {
    display: flex;
    flex-direction: column;
  }
  .map-container {
    width: 100%;
  }
  .map-index {
    display: none;
  }
}
