<<<<<<< HEAD

.title{
    background-color: black;
    height: 100px;
}
.article_title {
    text-align:center;
    color: black;
  }

.article_text {
    color: #252e48;
    font-size: 18px;
    line-height: 24px;
  }

=======
/* .container{

    height: 500px;
} */
/* .title {
  background-color: black;
  height: 100px;
} */
.article_title {
  text-align: center;
  color: black;
}
.content {
  background-color: blue;
  height: 400px;
}
.article_text {
  color: #252e48;
  font-size: 18px;
  line-height: 24px;
}
>>>>>>> ca22880c5b549f96a5d4a7e8bb6883c4be77519b
