.footer-container {
  background-color: #044d29;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}
.footer-subscription {
  display: felx;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  margin-bottom: 24px;
  padding: 24px;
  color: #fff;
}

.footer-subsciption-heading {
  margin-bottom: 24px;
  font-size: 24px;
}
.footer-subsciption-text {
  margin-bottom: 24px;
  font-size: 20px;
}
.footer-input {
  padding: 8px 20px;
  border-radius: 2px;
  margin-right: 10px;
  outline: none;
  border: none;
  font-size: 18px;
  margin-bottom: 16px;
  border: 1px solid black;
}
.footer-links {
  display: flex;
  flex: 1;
  text-align: right;
  width: 80%;
  justify-content: end;
}
.footer-link-wrapper {
  display: flex;
  width: 100%;
}

.footer-link-items {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 16px;
  text-align: left;
  width: 160px;
  box-sizing: border-box;
}
.footer-link-items h2 {
  margin-bottom: 16px;
}

.footer-link-items > h2 {
  color: #fff;
}
.footer-link-items a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-logo {
  padding-top: 50px;
  width: 300px;
  position: relative;
  float: left;
}
.footer-logo img {
  display: inline-block;
  width: auto;
  height: 150px;
  max-width: 400px;
  max-height: 100%;
  vertical-align: middle;
}
.footer-logo h1 {
  color: #fff;
}
.footer-link-items {
  width: 20%;
  float: right;
}
