.footer-container {
  background-color: #044d29;
  padding-top: 20px;
  color: #fff;
}
.footer-wrapper {
  display: flex;
  flex: 1;
}
.footer-logo {
  width: 200px;
  flex: 0 0 auto;
  margin: 10px;
  align-items: flex-start;
  text-align: center;
}
.footer-logo img {
  height: 150px;
}
.footer-links {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: auto;
}
.footer-link-items {
  margin-right: 30px;
}
.footer-link-items h3 {
  padding-bottom: 5px;
  margin: 0;
}
.footer-link-items ul li {
  padding-top: 5px;
  margin-right: 60px;
  width: fit-content;
}
.footer-link-items ul li a {
  color: #fff;
}
.footer-link-items ul li a:hover {
  color: #168039;
  text-decoration: underline;
}
.footer-copyright {
  background-color: #00261c;
  text-align: center;
  font: 12px;
}
@media only screen and (max-width: 800px) {
  .footer-link-items {
    display: none;
  }
  .footer-logo {
    width: 80px;
    padding-left: 10px;
    padding-bottom: 10px;
    margin: 0;
  }
  .footer-logo img {
    display: none;
  }

  .footer-links {
    margin: 5px;
  }
}
