.navlogo {
  width: 5+40px;
  height: 70px;
}

.navbar {
  background-color: #044d29;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.navbar-logo {
  color: #fff;
  justify-self: start;
  margin-left: 20px;
  display: flex;
  align-items: center;
}
.navbar-logo img {
  padding-right: 10px;
  vertical-align: middle;
}
.navbar-logo:hover {
  color: #fff;
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-content: end;
}

.nav-item {
  height: 90px;
  padding-left: 1px;
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px 25px;
  height: 100%;
  font-size: 20px;
}

.nav-links:hover {
  border-bottom: 4px solid #fff;
  transition: all 0.2s ease-out;
  color: #fff;
  font-weight: 900;
  background-color: #044d29;
  padding: 5px 23px;
}

.nav-links:focus {
  color: #044d29;
  background-color: #fff;
  font-weight: 900;
  padding: 5px 24px;
}
/* phone size menu icon */
/* need imporve: put this icon a little bit up */
.fa-bars {
  color: #fff;
  /* font-size: 30px; */
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}


.nav-menu-sub {
  position: absolute;
  opacity: 0;

}
li:hover ul.nav-menu-sub {
  opacity: 1;
}
.nav-menu-sub li {
  border-bottom: 1px solid oldlace;
}
.nav-menu-sub li:last-child {
  border-bottom: none;
}
.nav-menu-sub li a {
  float: none;
  padding: 3px 10px;
  background-color: #056536;
  height: 40px;
  display: flex;
  color: #fff;
  font-size: 20px;
}
.nav-menu-sub li a:hover {
  color: #000;
  display: flex;
  transition: all 0.2s ease-out;
  font-weight: 900;
  background-color: #089650;
  color: #fff;
  padding: 3px 10px;
}







/* phone part */
@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1500px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #00261c;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #fff;
    color: #044d29;
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    top: -10px;
    left: -10px;
    transform: translate(25%, 50%);
    width: 30px;
    height: 50px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: -10px;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }
}
