.sections {
  background: #ececec;
  padding: 10px;
}
.sections-head {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.3);
}

.sections-items {
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.sections-item {
  border-radius: 10px;
  margin-bottom: 20px;
}
/* each section item */
.sections-item-link {
  display: flex;
  flex-flow: row;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  overflow: hidden;
  text-decoration: none;
  height: auto;
  border: 1px solid #adadad;
  border-radius: 20px;
  padding: 20px;
}
/* .sections-item-link:hover {
  border: 1px solid black;
  border-radius: 20px;
} */
/* figure part of item*/
.sections-item-pic-wrap {
  position: relative;
  width: 40%;
  /* padding-top: 67%; */
  overflow: hidden;
  border-radius: 10px;
  -webkit-transform: rotate(0deg);
}

.sections-item-img {
  position: absolute;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.sections-item-img:hover {
  transform: scale(1.1);
}

/* content part of item*/
.sections-item-info {
  padding: 20px 30px;
  width: 50%;
}
.sections-item-title {
  margin-bottom: 20px;
}
.sections-item-text {
  color: #252e48;
  font-size: 24px;
  /* text-align: center; */
  height: auto;
  /* line-height: 200px; */
}

/* autochanging with screen size */
/* pc */
@media only screen and (min-width: 800px) {
  .sections-item-pic-wrap {
    max-width: 400px;
    min-width: 400px;
  }
  .sections-item-info {
    width: auto;
  }
  .sections-container ul li:nth-child(even) .sections-item-info {
    order: -1;
  }
}

@media only screen and (max-width: 1020px) {
  .sections {
    width: auto;
  }
}
/* phone */
@media only screen and (max-width: 800px) {
  .sections-item-link {
    display: flex;
    flex-flow: column;
  }
  .sections-item-pic-wrap {
    width: 100%;
    height: 400px;
  }
  .sections-item-info {
    width: auto;
  }
}
