.stepper-wrapper-horizontal {
  display: flex;
  justify-content: space-between;
}

.step-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23%;
  position: relative;
}

.step-number {
  border-radius: 80%;
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 16px;
  padding: 4px;
  font-weight: 900;
}

.divider-line {
  height: 1px;
  background-color: #bdbdbd;
  position: absolute;
  width: 60%;
  top: 50%;
  left: 70%;
}

.step-number-active {
  background-color: #044d29;
  color: white;
}

.step-number-disable{
  border: 1px solid grey;
}

.step-number-current{
  background-color: #E8600C;
  color: white;
}
