body {
  background-color: #f5f5f5;
}

.home,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
}

.info {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
  background-image: url("assets/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 100px; */
}

.quiz {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  /* font-size: 3rem; */
  background-image: url("assets/img-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  /* font-size: 80px; */
}

.container{
  min-height: calc(100vh - 90px);
}

.homepage-w {
  padding: 0 50px;
  background-color: #f5f5f5;
}
/* team part */
.team {
  padding-top: 50px;
  padding-bottom: 50px;
}
.team .team-flex {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  width: 100%;
  justify-content: center;
}
.team-intro {
  width: 40% !important;
  order: 0;
  text-align: center;
}
.team-intro h1 {
  padding-bottom: 20px;
}
@media screen and (max-width: 800px) {
  .team-intro {
    width: 100% !important;
    order: 0;
  }
}
