body {
  background-color: rgb(250, 250, 250);
}

.home,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.info {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: url("assets/img-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.quiz {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  background-image: url("assets/img-5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 80px;
}

/* team part */
.team {
  padding: 30px;
  background-color: #fff;
}
.team .team-flex {
  display: flex;
  flex: 1;
}
.team-felx .team-intro {
  flex: 1 1 auto;
  margin: 20px;
  align-items: flex-start;
}
.team-felx .team-logo {
  width: 120px;
  flex: 0 0 auto;
  margin: 20px;
  align-items: flex-start;
}
